<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Search</ion-title>
    <!-- <ion-buttons slot="end">
      <ion-button  color="tertiary">Filter</ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<h4 class="header">Enter Date to View Logs</h4>
<ion-item button mode="ios" (click)="handlePickerClick()" color="light">
  <ion-label class="ion-text-wrap">{{selectedDay.toLocaleDateString('en-US', { year: 'numeric', weekday: 'long', month: 'long', day: 'numeric'})}}</ion-label>
</ion-item>
<ion-datetime *ngIf="!hidePicker" class="picker" mode="ios" [value]="this.ISOString" [max]="MAX_DATE" color="tertiary" showDefaultButtons="true" presentation="date" size="cover" (ionChange)="handleDateChange($event)" (ionCancel)="handleDateCancel()"></ion-datetime>

<ion-content>
  <ion-text *ngIf="overnightData.length > 0"><h4 class="header">Overnight</h4></ion-text>
  <app-overnight-card *ngFor="let item of overnightData" [data]="item"></app-overnight-card>

  <ion-text *ngIf="sleepinessData.length > 0"><h4 class="header">Sleepiness</h4></ion-text>
  <app-sleepiness-card *ngFor="let item of sleepinessData" [data]="item"></app-sleepiness-card>
</ion-content>
