<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>New Sleepiness</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h4 class="header">Select the option that most closely describes how you feel</h4>
  <ion-radio-group (ionChange)="handleRadioChange($event)">
    <ion-item *ngFor="let item of ScaleValues; let i = index" color="light">
      <ion-label class="ion-text-wrap">{{item}}</ion-label>
      <ion-radio slot="end" [value]="i + 1"></ion-radio>
    </ion-item>
  </ion-radio-group>

  <h4 class="header">Date (not required)</h4>

  <ion-item button mode="ios" (click)="handleDateClick()" color="light">
    <ion-label class="ion-text-wrap">{{loggedAt.toLocaleDateString('en-US', { weekday: 'long', month: 'long', day: 'numeric', hour: '2-digit', minute: '2-digit'})}}</ion-label>
  </ion-item>
  <ion-datetime *ngIf="!hidePicker" [value]="this.ISOString" [max]="today" color="tertiary" [showDefaultButtons]="true" presentation="date-time" size="cover" (ionChange)="handleDateChange($event)" (ionCancel)="handleDateCancel()"></ion-datetime>


  <ion-button expand="full" fill="clear" (click)="presentAlert()" color="tertiary">Submit</ion-button>
</ion-content>
